@font-face {
  font-family: 'icon';
  /* Project id 3340162 */
  src: url('//at.alicdn.com/t/font_3340162_zzyjpn4lrv.woff2?t=1650336784217') format('woff2'), url('//at.alicdn.com/t/font_3340162_zzyjpn4lrv.woff?t=1650336784217') format('woff'), url('//at.alicdn.com/t/font_3340162_zzyjpn4lrv.ttf?t=1650336784217') format('truetype');
}
.icon {
  font-family: 'icon' !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shenglvehao:before {
  content: '\e600';
}
.icon-sousuo:before {
  content: '\e60a';
}
.icon-zhanghao:before {
  content: '\e655';
}
.icon-envelope:before {
  content: '\e982';
}
